body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Inter','Courier New', Courier, monospace;
  color: blue;
  text-align: center;
  margin: 0 0;
}

h2 {
  color: tomato;
  text-align: justify;
  background-color: rgb(245, 236, 184);
  margin: 0 0;
}

p{
  font-family: 'Arial','Courier New', Courier, monospace;
  font-size: 15px;
  /* border: 2px solid black; */
}

#heading {
  padding: 25px 0px
}

.first {
  height: 100px;
  background-color: aqua;
}